#topjumbo {
    background-color: brown;
    color: white;
}
#empanel {
    background-color: #4286f5;
}
#secondcont {
    border: 1px #4286f5;
}
#table {
    margin: 20px 0 20px 0;
}
#hist {
    color: white;
}